.text-sucess{
    color: greenyellow;
}
.text-warning{
    color: rgb(255, 0, 0);
}
.first-section{
     background: rgba(0, 0, 0, 0.7) url(img/bg.jpg);
  background-size: cover;
  background-position-x: 65%;
  background-blend-mode: multiply;
}
.c-nav{
    background: rgba(0, 0, 0, 0) url(img/3.jpg);
    background-size: cover;
    /* background-position-x: 85%; */
    background-blend-mode: multiply;
}
.logo{
    padding-left: 20px;
    max-width: 40%;
}
.b1{
    background: rgba(0, 0, 0, 0.7) url(img/1.jpg);
    background-size: cover;
    background-position-x: 65%;
    background-blend-mode: multiply;
    
}

 .card:hover{
      text-shadow: none !important;
      box-sizing: border-box !important;
      cursor: pointer !important;
      transition: all 0.3s ease !important;
      -webkit-transform: scale(1.1) !important;
      -ms-transform: scale(1.1) !important;
      transform: scale(1.1) !important;
      -webkit-box-shadow: 10px;
      box-shadow: 10px;
      z-index: 2;
   }
   .card:click{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    z-index: 2;
 }
   .c:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    z-index: 2;
 }
 .na-ic:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.5s ease-in-out !important;
    -webkit-transform: rotate(270deg) !important;
    -ms-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    z-index: 2;
 }
 
 .g:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.4) !important;
    -ms-transform: scale(1.4) !important;
    transform: scale(1.4) !important;
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    z-index: 2;
 }

 .h:hover{
     color: rgb(214, 163, 21);
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    z-index: 2;
 }
 .k:hover{
    color: rgb(214, 163, 21) !important;
   text-shadow: none !important;
   box-sizing: border-box !important;
   cursor: pointer !important;
   transition: all 0.3s ease !important;

}
.b2{
    background: rgba(0, 0, 0, 0.7) url(img/2.jpg);
    background-size: cover;
    background-position-x: 45%;
    background-blend-mode: multiply;
}
.b3{
    background: rgba(0, 0, 0, 0.7) url(img/3.jpg);
    background-size: cover;
    background-position-x: 45%;
    background-blend-mode: multiply;
}
.bg-1{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
a{
    text-decoration: none;
}
.f1{
    /* font-family: 'Dancing Script', cursive; */
    
font-family: 'Lato', sans-serif;
}
.text-small{
    font-size: 6px !important;
}
