<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- <script src="js/m.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sanjay Dewangan Photography</title>

    {{!-- custom css --}}
    <style>
        
    </style>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark pu-3 c-nav ">
        <div class="container-fluid">
            <a class="navbar-brand f1 " href="#">
                <span class="h6 g h">Sanjay Dewangan </span> <span class="h6 text-warning fs-6">Photography</span>
                <!-- <img src="img/l.png" alt="" width="40" height="24" class="d-inline-block align-text-top"> -->

            </a>
           
            <div class="collapse navbar-collapse " id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link k">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#photo" class="nav-link  k">Photo Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacts" class="nav-link k ">Contact us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

  {{!-- gallery --}}
  <div class=" d-flex p-3 justify-content-between align-item-left">
<h1>Photo <span class=" h text-warning h ">Gallery</span></h1>
<a href="/" class="btn btn-outline-warning btn-sm my-2 c n">
                    <i class="bi bi-chevron-right"></i> Home</a>
  </div>
  
 <div class="container-fluid p-4  " id="prew">
    
     <div class="row bg-dark justify-content-between align-item-center" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <h2 class="text-center my-3 n text-light justify-content-between align-item-center ">
                       Pre <span class="text-warning text-outline-dark">
                           Wedding
                       </span>
                    </h2>
     </div>
      <div class="row mt-3">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
 </div>

 <div class="container-fluid bg-dark p-4  " id="weddings">
     <h2 class="text-center mb-5 n text-light">
                       wedding <span class="text-warning">
                           Photography
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid  p-4  " id="postw">
     <h2 class="text-center mb-5 n text-dark">
                       Post <span class="text-warning text-outline-dark">
                          Wedding
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid bg-dark p-4  " id="candid">
     <h2 class="text-center mb-5 n text-light">
                       Candid <span class="text-warning">
                          Photography
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid  p-4  " id="portfolio">
     <h2 class="text-center mb-5 n text-dark">
                       Portfolio<span class="text-warning text-outline-dark">
                           Photography
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid bg-dark p-4  " id="bday">
     <h2 class="text-center mb-5 n text-light">
                       Birthday and <span class="text-warning">
                           events
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid  p-4  " id="io">
     <h2 class="text-center mb-5 n text-dark">
                       Indoor and Outdoor <span class="text-warning text-outline-dark">
                           photography
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
  </div>
 <div class="container-fluid bg-dark p-4  " id="babyshoot" >
     <h2 class="text-center mb-5 n text-light">
                       Baby <span class="text-warning">
                           Shoot
                       </span>
                    </h2>
     
      <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="2.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6" style="border-bottom-left-radius: 50px;">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-6">
          <img src="1.jpg" class="img-fluid img-thumbnail card" alt="...">
      </div>
  </div>
 </div>

 <!-- Contact -->
    <section class="p-5" id="contacts">
        <div class="container">
            <div class="row g-4">
                <div class="col-md">
                    <h2 class="text-center mb-4 n">
                        Contact Info
                    </h2>
                    <ul class="list-group list-group-flush lead ">
                        <li class="list-group-items  n">
                            <span class="fw-bold">Main Location</span> Shop No. EF 8, Rajiv Plaza, Old Bus Stand,
                            Bilaspur, Chhattisgarh
                        </li>
                        <li class="list-group-items n">
                            <span class="fw-bold">Phone Number</span> +919827950511 +919752867494
                        </li>
                        <li class="list-group-items n">
                            <span class="fw-bold">Email Adress</span> Swastikvideo85@gmail.com
                        </li>
                    </ul>
                </div>




            </div>
        </div>
        </div>
    </section>

 {{!-- map --}}
    <section class="p-3 bg-dark" id="map">
        <h2 class="text-center mt-3 fb text-light">
                       Follow <span class="text-warning">
                           Map
                       </span>
                    </h2>
        <div class="container fb" id="map1">
            <iframe class="container-fluid p-5 map1 fb"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3697.351021182558!2d82.1570287149018!3d22.074407585441335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a280b17e0f31d03%3A0xb9f376d352b9ebab!2sSwastik%20Video!5e0!3m2!1sen!2sin!4v1635253630079!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </section>
    <!-- media -->
    <section class="p-5 bg-dark" id="media">
        <div class="containers">
            
                <h2 class="text-center mb-5 fb text-light">
                       Social <span class="text-warning">
                           Handels
                       </span>
                    </h2>
            
            
            <div class=" d-flex align-item-center justify-content-between">

                <div class="fb">
                    <a href="https://www.facebook.com/swastikvideobsp">
                        <i class="fab fa-facebook h1 g">
                            <span class="h6 fos">Facebook</span>
                        </i>
                        </a>



                </div>
                <div class="  wp icon-green ">
                    <a href="https://wa.me/+919827950511">
                        <i class="fab fa-whatsapp text-sucess h1 g">
                            <span class="h6 fos">Whatsapp</span>
                        </i>

                    </a>

                </div>
                <div class="  wp icon-green ">
                    <a href="https://instagram.com/swastik_video_bilaspur?utm_medium=copy_link">
                        <i class="fab fa-instagram text-sucess h1 g ig">
                            <span class="h6 fos">Instagram</span>
                        </i>

                    </a>

                </div>
                <div class="  wp text-light ">
                    <a href="https://www.youtube.com/channel/UC93aue-TlzERyrg3qpXxPhw/videos">
                        <i class="fab fa-youtube text-danger h1 g">
                            <span class="h6 fos">Youtube</span>
                        </i>

                    </a>

                </div>
    </section>
    <!-- footer -->

    <footer class="p-2 bg-dark text-white text-center position-relative">
        <div class="container-fluid">
            <p class="fs-6">Copyright &copy 2021 Swastik Videos</p>
            <p class="fs-6 text-small">This website is Developed and managed by Harsh Vishwakarma
                
            </p>
            <a href="#" class="position-absolute bottom-0 end-0 p-2">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>










   
     <script>
        //common reveal options to create reveal animations
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        //target elements, and specify options to create reveal animations
        ScrollReveal().reveal('.container ', { delay: 20, origin: 'left' });
        ScrollReveal().reveal(' .b1,.b2,.b3,.b4,.b5,.card', { delay: 30, origin: 'top',interval: 50 });
        ScrollReveal().reveal(' .n', { delay: 30, origin: 'left',interval: 180 });
        ScrollReveal().reveal('.cf', { delay: 100, origin: 'right' });
        ScrollReveal().reveal('.fb,.wp', { delay: 10, origin: 'bottom', interval: 100 });
        ScrollReveal().reveal('.row .image, .sec-03 .image', { delay: 20, origin: 'top' });
        ScrollReveal().reveal('.media-info li', { delay: 500, origin: 'left', interval: 200 });
    </script>