<div class="wrapper">
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="menu">
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href=""> Photo Gallery</a></li>
    </ul>
</div>


